@font-face
  font-family: 'icomoon'
  src:  url('../fonts/icomoon.eot?vei3vg')
  src:  url('../fonts/icomoon.eot?vei3vg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vei3vg') format('truetype'),
    url('../fonts/icomoon.woff?vei3vg') format('woff'),
    url('../fonts/icomoon.svg?vei3vg#icomoon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-arrow-bold-up:before
  content: "\e904"
.icon-inbox-full:before
  content: "\e901"
.icon-menu:before
  content: "\e905"
.icon-phone:before
  content: "\e900"
.icon-commenting-o:before
  content: "\e902"
.icon-triangle:before
  content: "\e903"
